<h1>Create a new Pokemon</h1>


<form  method="POST" action="/pokemons" >
    <input type="hidden" name="evolved" value="0" />

    Name: <input name="name" type="text">
    Power: <input name="power" type="text">
    Evovled? <input type="checkbox" name="evolved" value="1"> 

    <input type="submit">
</form>